body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background: #f8f8f8 url(../images/bg.png);
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

img {
	border: 0;
}
.text_title {
	background: #29c5e6;
	font: 30px 'Oswald', sans-serif;
	font-weight: 300;
	color: #fff;
	padding: 0 40%;
	margin: 30px 0 0 0;
}
p {
	margin: 15px 0;
	font-size: 20px;
	color: #1f1f1f;
}

.main {
	margin-left: 220px;
	padding-bottom: 50px;
}
.aside {
	float: left;
	width: 200px;
	margin: 25px 0;
}
.aside > h2 {
	background: #29c5e6;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

.aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
}
.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}
.aside-menu li:first-child {
	border: none;
}

.aside-menu li.active {
	color: #29c5e6;
}

.aside-menu a {
	color: #8f8f8f;
	font-size: 20px;
}
header {
	padding: 20px 0;
}
form[name="search"] {
	float: right;
}
